{%load static%}

{%include 'nav.html' %}
<style>

    section{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    img{
        width: 40%;
    }

 </style>

<section>
    <div class="container">
    <div>
        <h1>Environmental Protection</h1>
        <p>Everyone should have access to clean energy. In sub-Saharan Africa, where more than 600 million 
            people have no access to electricity and over 700 million must rely on harmful fuels, it’s women 
            who bear the huge burden of this energy poverty and who disproportionately shoulder the harmful 
            effects of climate change.
            
            <div class="cause-img">
                <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
                <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
            </div>
            Solar Sister believes women are a key part of the solution to the clean energy challenge. This is why we invest in women’s enterprise in off-grid communities. We see the opportunity to empower women and to reach those who aren’t reached by business-as-usual energy models. Centering local women in a rapidly growing clean energy sector is essential to eradicating poverty and achieving
            sustainable solutions to climate change and a host of development issues.       
        </p>
        <p>

        </p>
        <div class="cause-img">
            <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
            <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
        </div>

        
        
    </div>
</div>

</section>






{%include 'footer.html' %}
