{%load static%}

{%include 'nav.html' %}
<style>

    section{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    img{
        width: 40%;
    }

 </style>

<section>
    <div class="container">
    <div>
        <h1>Healthy Lifestyles</h1>
        <p>Over the last 15 years, the number of childhood deaths has been cut in half. This proves that it is possible to win the fight against almost every disease. Still, we are spending an astonishing amount of money and resources on treating illnesses that are surprisingly easy to
            
            <div class="cause-img">
                <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
                <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
            </div>
            prevent. The new goal for worldwide Good Health promotes healthy lifestyles, preventive measures and modern, efficient healthcare for everyone.      
        </p>
        <p>

        </p>
        <div class="cause-img">
            <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
            <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
        </div>

        
        
    </div>
</div>

</section>






{%include 'footer.html' %}
