{%load static%}

{%include 'nav.html' %}
<style>

    section{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    img{
        width: 40%;
    }

 </style>

<section>
    <div class="container">
    <div>
        <h1>Leadership</h1>
        <p>Leadership is a skill, and it’s not necessarily an intuitive one. For some, leading others comes easy. The rest of us have to work at it. The good news is that there are some experts in the field who are willing to share their wisdom and hard-won experience with us online.

            In order to curate some of that wisdom and put it all in the same place, we scoured top business blogs during the month of September to find the most valuable posts on leadership. If you’re looking for ways to improve as a leader, this should give you a head start.
            
            <div class="cause-img">
                <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
                <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
            </div>
            This brief treatise by Maynard Webb discusses the serious mistakes often made in business. Sexual-harassment allegations, unethical practices, letting festivities get out of hand at company events; all happen much more often than they should. “Every leader is responsible to set the right tone,” Webb writes. They lead by example more than anything else, so the things they do and the allowances they make quickly develop into company culture.
        </p>
        <p>

        </p>
        <div class="cause-img">
            <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
            <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
        </div>

        
        
    </div>
</div>

</section>






{%include 'footer.html' %}
