{%load static%}

{%include 'nav.html' %}
<style>

    section{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    img{
        width: 40%;
    }

 </style>

<section>
    <div class="container">
    <div>
        <h1>Peace Initiatives</h1>
        <p>Issues like gun violence, migration, inequality, and climate chaos know no borders. We are all bound together in the challenges we face. And we are equally bound together in seeking solutions.

            For more than a year, Global Exchange, and allies from across the continent worked to bring together 300+ community leaders and civil society organizations from Mexico, the U.S. and beyond (Colombia, Honduras, Haiti, Canada) for the Peace Summit.
            
            <div class="cause-img">
                <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
                <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
            </div>
            The Summit was held February 23 & 24 at the Human Rights Commission in Mexico City, Mexico. Participants representing victims of violence, Indigenous Peoples, migrants, and Black communities gathered for two days of sharing stories and struggles and worked to strategize together against discrimination, violence, injustice, poverty, environmental devastation and theft, and inequality in the region.

The Peace Summit is building a new kind of cross-border, multicultural and multilingual power that speaks in the voices of those traditionally excluded and marginalized and that puts our collective struggles, power, and perspectives at the center of the debate and the regional agenda for change.
        </p>
        <p>

        </p>
        <div class="cause-img">
            <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
            <img src="{%static 'images/causes/environ.jpg'%}" alt="Environmental" srcset="">
        </div>

        
        
    </div>
</div>

</section>






{%include 'footer.html' %}
