{% load static %}
<div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                      <h1>User Registration page</h1>
                </div>
                  <!-- <span class="mb-0 text-muted">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Login page
                {% endif %}
              </span> -->
                <form  method="post">
                    {% csrf_token %}
                  <div class="form-group first">
                    <label for="username">Username</label>
                      {{ form.username }}
                  </div>
                  <div class="form-group first">
                    <label for="email">Email</label>
                      {{ form.email}}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                      {{ form.password1 }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">confirm Password</label>
                      {{ form.password2 }}
                  </div>
                  <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                    <label class="form-check-label" for="flexCheckDefault"><span> Admin </span>
                      {{form.is_admin}}
                    </label>
                  </div>
                  <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                    <label class="form-check-label" for="flexCheckDefault"><span>Member</span>
                      {{form.is_member}}
                    </label>
                  </div>
                  <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                    <label class="form-check-label" for="flexCheckDefault"><span>User</span>
                      {{form.is_users}}
                    </label>
                  </div>
                   
                  <input type="submit"  value="Register" class="btn btn-pill text-white btn-block btn-primary">
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

